</main>
<footer class=" footer-bg  pt-5 mt-5 border-top">
    <div class="container">
        <div class="row text-start">
            <div class="col-6 col-md-3 mb-4">
                <h6 class="fw-bold text-black">Legal & Contact</h6>
                <ul class="list-unstyled">
                    <li><a  class="text-muted" href="#">Support</a></li>
                    <li><a  class="text-muted" href="#">Affiliates</a></li>
                    <li><a  class="text-muted" href="#">Privacy</a></li>
                    <li><a  class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <h6 class="fw-bold text-black">Blog Categories</h6>
                <ul class="list-unstyled">
                    <li><a  class="text-muted" href="#">Trending Now</a></li>
                    <li><a  class="text-muted" href="#">Podcast</a></li>
                    <li><a  class="text-muted" href="#">Social Media</a></li>
                    <li><a  class="text-muted" href="#">New Courses</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <h6 class="fw-bold text-black">Site Links</h6>
                <ul class="list-unstyled">
                    <li><a  class="text-muted" href="#">Experts</a></li>
                    <li><a   class="text-muted" href="#">Team</a></li>
                    <li><a  class="text-muted" href="#">Blog</a></li>
                    <li><a  class="text-muted" href="#">log In</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <h6 class="fw-bold text-black">Connect</h6>
        <p>Work with Us</p>
        <div class="d-flex gap-2">
          <a href="#"><img src="/images/facebook.png" width="25" alt="Facebook"></a>
          <a href="#"><img src="/images/twitter.png" width="25" alt="Twitter"></a>
          <a href="#"><img src="/images/pinterest.png" width="25" alt="Pinterest"></a>
          <a href="#"><img src="/images/social.png" width="25" alt="Instagram"></a>
        </div>
         </div>
        </div>
        <div class="row justify-content-center text-muted py-3">
            ©<%= new Date().getFullYear() %>  Bite & Write. All rights reserved.
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</footer>
</body>
</html>